/test/wzkf_t1/sim/tb_top/work
/test/wzkf_t1/dev/incremental_db
/test/wzkf_t1/dev/db
/test/wzkf_t1/dev/output_files/*.summary
/test/wzkf_t1/dev/output_files/*.rpt
/test/wzkf_t1/dev/output_files/*.smsg
/test/wzkf_t2/sim/tb_top/work
/main/sim/tb_all/work
