/test/wzkf_t1/sim/tb_top/work
/test/wzkf_t1/dev/incremental_db
/test/wzkf_t1/dev/db
/test/wzkf_t1/dev/output_files/*.summary
/test/wzkf_t1/dev/output_files/*.rpt
/test/wzkf_t1/dev/output_files/*.smsg
/test/wzkf_t2/sim/tb_top/work
/main/sim/tb_all/work
/main/fpga_m/dev/output_files/*.summary
/main/fpga_m/dev/output_files/*.rpt
/main/fpga_m/dev/incremental_db
/main/fpga_m/dev/db
/main/fpga_m/dev/top_m.qws
/main/fpga_m/dev/output_files/*.smsg
/main/fpga_s/dev/db
/main/fpga_s/dev/output_files/*.summary
/main/fpga_s/dev/output_files/*.rpt
/main/fpga_s/dev/incremental_db
/main/fpga_s/dev/output_files/*.smsg
/main/fpga_s/dev/top_s.qws
/main/fpga_s/dev/greybox_tmp
